@using BethanysPieShopHRM.Shared;
<div id="sidebar-wrapper">
    <div class="sidebar-logo center-image">
        <img class="img-responsive" id="logo" src="/images/kyllingogco-logo-lys.svg" />
    </div>
    <div class="profile-picture">
        <img class="img-responsive" src="/images/Kylling_og_Co_2021-03-11_13664-1-1024x1024.jpg" />
    </div>
    <div class="menu list-group list-group-flush">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <NavLink href="/">Home</NavLink>
                </li>
                <li>
                    <CollapsableBar Name="Tasks">
                        <CollapsableBarLink Name="View Tasks" Url="/tasks"/>
                        <CollapsableBarLink Name="Add new task" Url="/taskedit" />
                    </CollapsableBar>
                </li>
                <li>
                    <CollapsableBar Name="Employees">
                        <CollapsableBarLink Name="View Employees" Url="/employeeoverview" />
                        <CollapsableBarLink Name="Add new employee" Url="/employeeedit" />
                    </CollapsableBar>
                </li>
                <li>
                    <CollapsableBar Name="Opportunities">
                        <CollapsableBarLink Name="Jobs" Url="/jobs" />
                        <CollapsableBarLink Name="New job" Url="/jobedit" />
                    </CollapsableBar>
                </li>
                <li>
                    <CollapsableBar Name="Expenses">
                        <CollapsableBarLink Name="Expenses" Url="/expenses" />
                        <CollapsableBarLink Name="New Expense" Url="/expenseedit" />
                    </CollapsableBar>
                </li>
                <li>
                    <CollapsableBar Name="Feedback">
                        <CollapsableBarLink Name="Surveys" Url="/surveys" />
                        <CollapsableBarLink Name="New Survey" Url="/surveyedit" />
                    </CollapsableBar>
                </li>
                <li>
                    <CollapsableBar Name="Schedule">
                        <CollapsableBarLink Name="Schedule" Url="/Schedule" />
                        <CollapsableBarLink Name="Add new shift" Url="/" />
                    </CollapsableBar>
                </li>
                <li>
                    <NavLink href="/staffdirectory">
                        <span class="font-heading">Staff Directory</span>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>

@code{
}