@using BethanysPieShopHRM.Shared;
@using BethanysPieShopHRM.Shared.TeamWolfiesClasses;
@using BethanysPieShopHRM.UI.LoginSingleton;
@inherits LayoutComponentBase
@inject ContainsUserID useriD


    <div class="d-flex" id="wrapper">

        <LeftNav />

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h3 class="title font-title">Kylling & Co HRM</h3>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    </ul>
                    @if (CurrentUser != null)
                    {
                        <h3 class="title">Hello, @CurrentUser.FirstName!</h3>
                    }
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    </ul>
                </div>

            </nav>
            <CascadingValue Value="@CurrentUser" Name="User">
            <div class="container-fluid">
                @Body
            </div>
        </CascadingValue>
        </div>

    </div>

@code {
    public Employee? CurrentUser { get; set; }

    protected override Task OnInitializedAsync()
    {
        UserSigninManager.Instance.UserChange += () => { CurrentUser = UserSigninManager.Instance.CurrentUser; StateHasChanged(); };
        if (UserSigninManager.Instance.CurrentUser != null)        
            useriD.Id = UserSigninManager.Instance.CurrentUser.EmployeeId;           
        return base.OnInitializedAsync();
    }
}