@using BethanysPieShopHRM.Shared.Models;
@using BethanysPieShopHRM.ComponentsLibrary;
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager navigator

@if (DayEvent != null)
{
    <td @onclick="HasClickt" style="background-color:@colour">
        <label>@DayEvent.DateValue</label>
        <br /><br />
        <label>NotReal</label>
        <br /><br />
    </td>
}
else
{
    <td style="background-color: gray">
        <label>NotReal</label>
        <br /><br />
        <label>NotReal</label>
        <br /><br />
    </td>
}

@code {
    [Parameter]
    public CalendarDay DayEvent { get; set; }
    public string colour { get; set; }

    protected override void OnInitialized()
    {
        UpdateColor();
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {        
        UpdateColor();
        base.OnParametersSet();
    }

    public void UpdateColor()
    {
        if (DayEvent != null)
        {            
            if (DayEvent.Schedules.Count() > 0)
            {
                colour = "#346667";
            }else
            {
                colour = "#893e3c";
            }
        }
    }

    public void HasClickt()
    {
        string dateToSend = DayEvent.Date.ToString("yyyy-MM-dd HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);
        navigator.NavigateTo($"/ShiftDetail/{dateToSend}");
    }
}
