@using BethanysPieShopHRM.Shared.Models;

@if (DayEvent != null)
{
    <td>
        @DayEvent.DateValue
        <br /><br />
        <label style="color:#c00;font-weight:bold">@DayEvent.Note</label>
        <br /><br />
    </td>
}
else
{
    <td style="background-color: gray">
        <label>NotReal</label>
        <br /><br />
        <label>NotReal</label>
        <br /><br />
    </td>
}

@code {
    [Parameter]
    public DayEvent DayEvent { get; set; }

}
