<a @onclick="(() => ToggleNav())" data-toggle="collapse" class="dropdown-toggle"><span class="font-heading">@Name</span></a>
<ul class="list-unstyled sub-menu @( this.IsHidden ? "toggle-hide": "toggle-show") dropdown_menu-7" id="schedule">
    @ChildContent
</ul>


@code {
    private bool IsHidden { get; set; } = true;

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void ToggleNav()
    {
        IsHidden = !IsHidden;
    }
}
