@page "/mikael"
@using BethanysPieShopHRM.Shared.TeamWolfiesClasses;
@using BethanysPieShopHRM.UI.LoginSingleton;
@using BethanysPieShopHRM.UI.Services;
@inject ScheduleService scheduleService


<h1>Mikaels Test Enviorment</h1>

<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Opret Schedule</h5>
        <EditForm Model="@createdSchedule">
        <div class="form-group">
            <label for="timestamp">Vælg Start Tid</label>
            <InputText id="timestamp" class="form-control" @bind-Value="timeStamp"/>
        </div>
            <a href="#" class="btn btn-primary" @onclick="CreateNewSchedule">OPRET</a>
        </EditForm>
    </div>
</div>
<div class="card-body">
    <h1>@schedules.Count were found</h1>
    <button class="btn btn-primary" @onclick="@CreateNewSchedule"></button>

</div>




@code{
    private Schedule createdSchedule { get; set; } = new Schedule();
    private string timeStamp = string.Empty;
    List<Schedule> schedules = new List<Schedule>();

    protected async override void OnInitialized()
    {       
        schedules = await scheduleService.GetSchedulesFromDate(new DateTime(2019, 02, 023));        
    }


    private void CreateNewSchedule()
    {
        //int? userId = UserSigninManager.Instance.CurrentUser.EmployeeId;

        createdSchedule.EmployeeId = 1;
            createdSchedule.ShiftStart = new DateTime(2023, 02, 24);
            createdSchedule.ShiftEnd = new DateTime(2023, 02, 25);
            scheduleService.CreateSchedule(createdSchedule);
            
        
    }
}